.addressItem{
    list-style: none;
    margin: 1rem;
}
.detailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 8rem;
    padding: 2rem;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);

}
.optionsContainer{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    align-items: center;
}
.optionsContainer button{
    font-size: 1rem;
    cursor: pointer;
    height:2rem;
    width: 8rem;
    margin-right: 1rem;
    background-color: #B73225;
    color: white;
    border-radius: 2rem;
    border-color: #B73225;
}
.optionsContainer button:hover{
    background-color: #dd584b;
}
